<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    {% for baskets in basket %}
    {% if baskets.user == user %} 
    <table style="width:100%;direction: rtl;">
      <tr>
        <th>قیمت کالا:</th>
        <th>نام کالا :</th>
      </tr>
      <tr>
        <td>{{ baskets.metal }}</td>
        <td>{{ baskets.money }}</td> 
      </tr>
     {% endif %}
    {% endfor %}
    {% endif %}
</body>
</html>